/* import google fonts */
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700|Nunito:200,200i,300,300i,400,400i,600,600i,700,800,900|Permanent+Marker");
.reset-elem,
.tabs-block__list,
.dropdown,
.megadropdown ul,
.discover__list,
.place-gal__list,
.explore__form-checkbox-list,
.listing-detail__scroll-menu,
.sidebar__listing-list,
.paragraph,
p,
.explore__form-advanced span,
.footer__subscribe-input {
  font-size: 0.9375rem;
  color: #999999;
  font-weight: 300;
  line-height: 1.625rem;
  margin: 0 0 0.625rem;
}

.heading1,
h1 {
  color: #363636;
  font-size: 2.25rem;
  font-weight: 600;
  line-height: 3rem;
  margin: 0 0 0.9375rem;
}

.heading2,
h2 {
  color: #363636;
  font-size: 1.2rem;
  font-weight: 600;
  margin: 0 0 0.9375rem;
  line-height: 1.5rem;
}

.heading3,
h3 {
  color: #363636;
  font-size: 0.9375rem;
  font-weight: 400;
  margin: 0 0 0.9375rem;
  line-height: 1.8rem;
}

.back-cover {
  background-size: cover !important;
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
}

.anchor,
a {
  display: inline-block;
  text-decoration: none !important;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}

/*-------------------------------------------------- */
/* 1. Isotope filtering */
/*------------------------------------------------- */
.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
  -moz-transition-duration: 0.8s;
  transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
  -moz-transition-property: height, width;
  transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
  -moz-transition-property: -moz-transform, opacity;
  transition-property: transform, opacity;
}

/*------------------------------------------------- */
/* =  General */
/*------------------------------------------------- */
body {
  font-family: "Nunito", sans-serif;
}

#container {
  opacity: 0;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}

#container.active {
  opacity: 1;
}

.btn-default {
  color: #fff;
  font-size: 0.9375rem;
  padding: 0.58rem 1.875rem;
  border: 2px solid #fff;
  font-weight: 600;
  -webkit-border-radius: 1.5rem;
  -moz-border-radius: 1.5rem;
  -ms-border-radius: 1.5rem;
  border-radius: 1.5rem;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  margin: 0;
}
.btn-default i {
  font-size: 1rem;
  margin-right: 0.625rem;
}

.btn-default:hover {
  color: #fb646f;
  background: #fff;
}

.btn-default-red {
  padding: 0.58rem 2.693rem;
  color: #fb646f;
  border-color: #fb646f;
  background: transparent;
}

.btn-default-red:hover {
  color: #fff;
  background: #fb646f;
}

.center-button {
  text-align: center;
}

.text-btn {
  color: #fb646f;
  font-size: 1.0625rem;
  font-weight: 300;
}
.text-btn span {
  color: #999999;
}

.text-btn:hover {
  color: #fb646f;
  text-decoration: underline !important;
}

.text-btn-grey {
  font-weight: 200;
  font-size: 1rem;
  color: #cccccc;
}

.text-btn-grey:hover {
  color: #fb646f;
}

button.mfp-close,
button.mfp-arrow,
a.zoom {
  outline: none;
}

section.page-banner-section {
  padding: 4rem 0;
  text-align: center;
  background: #111 url("../upload/banners/ban3.jpg") center center no-repeat;
  background-size: cover;
}
@media all and (-webkit-min-device-pixel-ratio: 1.5),
  all and (-o-min-device-pixel-ratio: 3 / 2),
  all and (min--moz-device-pixel-ratio: 1.5),
  all and (min-device-pixel-ratio: 1.5) {
  section.page-banner-section {
    background: #111 url("../upload/banners/ban3@2x.jpg") center center
      no-repeat;
    background-size: cover;
  }
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  section.page-banner-section {
    background: #111 url("../upload/banners/ban3@2x.jpg") center center
      no-repeat;
    background-size: cover;
  }
}

#container {
  min-height: 100%;
  overflow: hidden;
}

/*------------------------------------------------- */
/* =  OWL carousel buttons styling */
/*------------------------------------------------- */
.owl-theme .owl-controls {
  position: absolute;
  width: 100%;
  top: 50%;
  margin-top: -1.25rem;
  height: 0;
}
.owl-theme .owl-controls .owl-pagination {
  display: none;
}
.owl-theme .owl-controls .owl-buttons {
  width: 100%;
}
.owl-theme .owl-controls .owl-buttons div {
  font-size: 0.9375rem;
  color: #666;
  line-height: 2.5rem;
  text-align: center;
  background: #fff;
  border: 1px solid #e8edf0;
  outline: none;
  padding: 0;
  width: 2.5rem;
  height: 2.5rem;
  opacity: 1;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
.owl-theme .owl-controls .owl-buttons div:hover {
  color: #fff;
  background: #fb646f;
  border-color: transparent;
}
.owl-theme .owl-controls .owl-buttons div.owl-prev {
  float: left;
  margin-left: -0.3125rem;
  padding-right: 2px;
}
.owl-theme .owl-controls .owl-buttons div.owl-next {
  float: right;
  margin-right: -0.3125rem;
  padding-left: 2px;
}
.owl-theme .owl-controls .owl-buttons div.owl-prev:after {
  content: "\f053";
  font-family: "FontAwesome";
}
.owl-theme .owl-controls .owl-buttons div.owl-next:after {
  content: "\f054";
  font-family: "FontAwesome";
}

/*------------------------------------------------- */
/* =  top experience block
/*------------------------------------------------- */
.top-experience {
  padding: 6.25rem 0 1px;
  background: #111 url("../upload/bg.jpg") center center no-repeat;
  background-size: cover;
}
@media all and (-webkit-min-device-pixel-ratio: 1.5),
  all and (-o-min-device-pixel-ratio: 3 / 2),
  all and (min--moz-device-pixel-ratio: 1.5),
  all and (min-device-pixel-ratio: 1.5) {
  .top-experience {
    background: #111 url("../upload/bg@2x.jpg") center center no-repeat;
    background-size: cover;
  }
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .top-experience {
    background: #111 url("../upload/bg@2x.jpg") center center no-repeat;
    background-size: cover;
  }
}
.top-experience__box {
  margin-bottom: 6.5rem;
  margin-left: -0.9375rem;
  margin-right: -0.9375rem;
  position: relative;
}
.top-experience__box .item {
  padding: 0 0.9375rem;
  padding-top: 1rem;
}
.top-experience .owl-theme .owl-controls .owl-buttons div {
  font-size: 1rem;
  color: #888;
  line-height: 2.5rem;
  background: transparent;
  border: 1px solid transparent;
}
.top-experience .owl-theme .owl-controls .owl-buttons div:hover {
  color: #fb646f;
}
.top-experience .owl-theme .owl-controls .owl-buttons .owl-prev {
  margin-left: -2.8125rem;
}
.top-experience .owl-theme .owl-controls .owl-buttons .owl-next {
  margin-right: -2.8125rem;
}
@media (max-width: 1400px) {
  .top-experience .owl-theme .owl-controls .owl-buttons .owl-prev {
    margin-left: -1.5rem;
  }
  .top-experience .owl-theme .owl-controls .owl-buttons .owl-next {
    margin-right: -1.5rem;
  }
}
@media (max-width: 576px) {
  .top-experience .owl-theme .owl-controls .owl-buttons .owl-prev {
    margin-left: 1rem;
  }
  .top-experience .owl-theme .owl-controls .owl-buttons .owl-next {
    margin-right: 1rem;
  }
}

/*------------------------------------------------- */
/* =  banner block
/*------------------------------------------------- */
.banner {
  padding: 4rem 0;
  background: #111 url("../images/bg.png") center center no-repeat;
  background-size: cover;
}
@media all and (-webkit-min-device-pixel-ratio: 1.5),
  all and (-o-min-device-pixel-ratio: 3 / 2),
  all and (min--moz-device-pixel-ratio: 1.5),
  all and (min-device-pixel-ratio: 1.5) {
  .banner {
    background: #111 url("../images/bg@2x.png") center center no-repeat;
    background-size: cover;
  }
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .banner {
    background: #111 url("../images/bg@2x.png") center center no-repeat;
    background-size: cover;
  }
}
.banner .section-header {
  margin-bottom: 0;
}
.banner .section-header__title:after {
  background: #fff;
}
.banner .section-header__description {
  max-width: 39.4rem;
}
.banner a.btn-default {
  float: right;
  width: 15rem;
  text-align: center;
  margin-top: 2.8rem;
}
.banner a.btn-default:hover {
  background: #fff;
  color: #fb646f;
}
@media (max-width: 767px) {
  .banner a.btn-default {
    float: none;
  }
}

/*------------------------------------------------- */
/* =  how it work block
/*------------------------------------------------- */
.how-it-work {
  padding: 4rem 0;
  background: #111 url("../upload/ban1.jpg") center center no-repeat;
  background-size: cover;
}
@media all and (-webkit-min-device-pixel-ratio: 1.5),
  all and (-o-min-device-pixel-ratio: 3 / 2),
  all and (min--moz-device-pixel-ratio: 1.5),
  all and (min-device-pixel-ratio: 1.5) {
  .how-it-work {
    background: #111 url("../upload/ban1@2x.jpg") center center no-repeat;
    background-size: cover;
  }
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .how-it-work {
    background: #111 url("../upload/ban1@2x.jpg") center center no-repeat;
    background-size: cover;
  }
}

/*------------------------------------------------- */
/* =  team block
/*------------------------------------------------- */
.team {
  padding: 3.125rem 0 2rem;
}

/*------------------------------------------------- */
/* =  Header
 *------------------------------------------------- */
.navbar {
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  border-bottom: 1px solid rgba(255, 255, 255, 0.13);
  width: 100%;
  z-index: 999999;
  background: transparent !important;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0;
}

header {
  padding: 0;
  z-index: 9999999;
  position: relative;
}

header.active .navbar {
  background: #333333 !important;
}

.navbar-nav {
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  margin-bottom: -1px;
}
.navbar-nav > li > a {
  color: #fff !important;
  font-size: 0.9375rem;
  font-weight: 300 !important;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  padding: 1.25rem 0.9375rem !important;
  position: relative;
  border-bottom: 1px solid transparent;
}
.navbar-nav > li > a i {
  font-size: 0.75rem;
  margin-left: 0.625rem;
}
.navbar-nav > li > a.active,
.navbar-nav > li > a:hover {
  border-color: #fff;
}
.navbar-nav li {
  position: relative;
}

.navbar-nav.right-list > li > a i {
  margin-left: 0;
  margin-right: 0.5rem;
  font-size: 0.875rem;
}

.navbar-nav.active > li > a {
  opacity: 0;
  visibility: hidden;
}

.navbar-collapse {
  position: relative;
}

header.white-header-style .navbar {
  background: #fff !important;
  border-bottom: 1px solid #f1f1f1;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.06);
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.06);
  -moz-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.06);
  -o-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.06);
}

header.white-header-style .navbar-nav > li > a {
  color: #333 !important;
}

header.white-header-style .navbar-nav > li > a.active,
header.white-header-style .navbar-nav > li > a:hover {
  border-color: #fb646f;
}

header.white-header-style a.btn-default {
  border-color: #fb646f;
  color: #fb646f;
}

header.white-header-style a.btn-default:hover {
  background: #fb646f;
  color: #fff;
}

@media (max-width: 1400px) {
  .navbar a.navbar-brand {
    margin-right: 1rem;
  }
  .navbar a.add-list-btn {
    margin-left: 0.5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
  .navbar a.add-list-btn i {
    display: none;
  }
  .navbar-nav > li > a {
    padding: 1.25rem 0.5rem !important;
  }
  .navbar-nav.right-list > li > a i {
    display: none;
  }
}

.search-form {
  margin: 0;
}
.search-form__input-holders {
  display: inline-block;
  width: 29.5rem;
  background: #fff;
  border: 0.125rem solid #e6e6e6;
  padding: 0.375rem 0.25rem;
  -webkit-border-radius: 1.6rem;
  -moz-border-radius: 1.6rem;
  -ms-border-radius: 1.6rem;
  border-radius: 1.6rem;
}
.search-form__input {
  border: none;
  width: 17rem;
  color: #999999;
  font-size: 0.9375rem;
  font-weight: 200;
  padding: 0.175rem 1rem;
  background: transparent;
  outline: none;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  border-radius: 0px;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  margin-bottom: 0;
}
.search-form__input-location {
  width: 10.8rem;
}
.search-form__submit {
  background: transparent;
  outline: none;
  border: none;
  color: #fb646f;
  font-size: 13px;
  cursor: pointer;
}
.search-form .select2-container--default {
  z-index: 2;
}
.search-form .select2-container--default .select2-selection--single {
  border-bottom: none;
  border-left: 1px solid #e8e8e8;
}
.search-form
  .select2-container--default
  .select2-selection--single
  .select2-selection__rendered {
  padding: 0.1rem 1rem;
}
.search-form
  .select2-container--default
  .select2-selection--single
  .select2-selection__arrow {
  top: 0.2rem;
  right: 0;
}
@media (max-width: 1400px) {
  .search-form__input-holders {
    width: 23rem;
  }
  .search-form__input {
    width: 13rem;
  }
  .search-form__input-location {
    width: 8rem;
  }
  .search-form__submit {
    display: none;
  }
}

.select2-container {
  z-index: 99999;
}

.dropdown {
  position: absolute;
  border-top: 2px solid #fb646f;
  top: 100%;
  left: 0;
  background: #fff;
  width: 10rem;
  visibility: hidden;
  opacity: 0;
  margin-top: 12.5px;
  padding: 1rem 1.5rem 0.5rem;
  transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  -webkit-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
}
.dropdown > li {
  position: relative;
  display: block;
  margin-bottom: 0.5rem;
}
.dropdown > li span {
  display: block;
  color: #666666;
  font-size: 0.9375rem;
  font-weight: 400;
  padding-bottom: 0.75rem;
  margin-bottom: 0.75rem;
  border-bottom: 1px solid #cccccc;
}
.dropdown > li a {
  display: block;
  color: #666;
  font-size: 0.9375rem;
  font-weight: 300;
}
.dropdown > li > a:hover {
  color: #fb646f;
}
.dropdown > li .dropdown.level2 {
  top: -2px;
  left: 100%;
  border-left: 1px solid #292929;
}

li:hover > .dropdown {
  visibility: visible;
  opacity: 1;
  margin-top: -1px;
}

.megadropdown {
  border-top: 2px solid #fb646f;
  position: absolute;
  top: 100%;
  left: -5.75rem;
  background: #f7f7f7;
  width: 55rem;
  visibility: hidden;
  opacity: 0;
  margin-top: 0.625rem;
  transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  -webkit-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  display: flex;
  padding: 0 1rem;
}
.megadropdown .dropdown-box {
  padding: 0.75rem 1rem;
  width: 25%;
}
.megadropdown span {
  display: block;
  color: #666666;
  font-size: 0.9375rem;
  font-weight: 400;
  padding-bottom: 0.75rem;
  margin-bottom: 0.75rem;
  border-bottom: 1px solid #cccccc;
}
.megadropdown ul > li {
  display: block;
  margin-bottom: 0.5rem;
}
.megadropdown ul > li a {
  display: block;
  color: #666666;
  font-size: 0.9375rem;
  font-weight: 300;
}
.megadropdown ul > li > a:hover {
  color: #fb646f;
}

li:hover > .megadropdown {
  visibility: visible;
  opacity: 1;
  margin-top: -1px;
}

@media (max-width: 1199px) {
  .megadropdown {
    width: 53rem;
    left: -7.25rem;
  }
}

@media (max-width: 991px) {
  .navbar a.navbar-brand {
    margin-left: 0.9375rem;
  }
  .navbar .navbar-toggler {
    margin-right: 15px;
    outline: none;
  }
  .navbar a.btn-default,
  .navbar .search-form {
    display: none;
  }
  .navbar-collapse {
    padding: 1rem 1.25rem;
    background: #fff;
    max-height: 260px;
    overflow-y: scroll;
  }
  .navbar-nav > li > a {
    padding: 0.25rem 0 !important;
    border: none !important;
    color: #363636 !important;
  }
  .dropdown {
    position: relative;
    width: 100%;
    top: initial;
    left: initial;
    margin-top: 0;
    background: transparent;
    border: none;
    opacity: 1;
    visibility: visible;
    padding-top: 0;
    padding-bottom: 0;
  }
  .dropdown li span {
    display: none;
  }
  .dropdown li {
    margin-bottom: 0.25rem;
  }
  .megadropdown {
    position: relative;
    width: 100%;
    top: initial;
    left: initial;
    margin-top: 0;
    background: transparent;
    border: none;
    opacity: 1;
    visibility: visible;
    padding: 0;
    display: block;
  }
  .megadropdown span {
    display: none;
  }
  .megadropdown .dropdown-box {
    padding: 0 1.5rem;
    width: 100%;
  }
}

/*------------------------------------------------- */
/* =  Section header module
/*------------------------------------------------- */
.section-header {
  margin-bottom: 2.5rem;
  position: relative;
}
.section-header__title {
  position: relative;
  padding-bottom: 1rem;
}
.section-header__title.white-style {
  color: #fff;
}
.section-header__title:after {
  content: "";
  position: absolute;
  bottom: 0.0625rem;
  left: 0;
  width: 1.9rem;
  height: 0.0625rem;
  background: #fb646f;
}
.section-header__description {
  max-width: 33.75rem;
  margin: 0;
  font-size: 1.0625rem;
}
.section-header__description.white-style {
  color: #fff;
}

/*------------------------------------------------- */
/* =  Discover module
/*------------------------------------------------- */
.discover {
  padding: 15rem 0 12.5rem;
  /*
   * Set a counter and get the length of the image path.
   */
  /*
   * Loop ver the image path and figure out the
   * position of the dot where the extension begins.
   */
  /*
   * If we were able to figure out where the extension is,
   * slice the path into a base and an extension. Use that to
   * calculate urls for different density environments. Set
   * values for different environments.
   */
  /*
     * Set a base background for 1x environments.
     */
  background: #111 url("../upload/slide1.jpg") center center no-repeat;
  background-size: cover;
  /*
     * Create an @2x-ish media query.
     */
  /*
     * Create media queries for all environments that the user has
     * provided images for.
     */
  /*
   * If anything went wrong trying to separate the file from its
   * extension, set a background value without doing anything to it.
   */
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out; }
  @media all and (-webkit-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3 / 2), all and (min--moz-device-pixel-ratio: 1.5), all and (min-device-pixel-ratio: 1.5) {
    .discover {
      background: #111 url("../upload/slide1@2x.jpg") center center no-repeat;
      background-size: cover; } }
  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .discover {
      background: #111 url("../upload/slide1@2x.jpg") center center no-repeat;
      background-size: cover; } }
  .discover__description {
    color: #fff;
    font-size: 1.25rem;
    margin-bottom: 0.9375rem; }
  .discover__title {
    color: #fff;
    font-size: 4.375rem;
    line-height: 5rem;
    font-weight: 600;
    margin-bottom: 1.875rem;
    margin-left: -4px; }
  .discover__title.events-tab {
    display: none; }
  .discover__list {
    overflow: hidden; }
  .discover__list-item {
    list-style: none;
    float: left;
    margin-right: 0.0625rem; }
    .discover__list-item a {
      padding: 0.9375rem 2.7rem;
      background: rgba(255, 255, 255, 0.2);
      color: #fff;
      font-size: 1.0625rem;
      font-weight: 600;
      -webkit-border-top-left-radius: 2px;
      -moz-border-top-left-radius: 2px;
      -o-border-top-left-radius: 2px;
      border-top-left-radius: 2px;
      -webkit-border-top-right-radius: 2px;
      -moz-border-top-right-radius: 2px;
      -o-border-top-right-radius: 2px;
      border-top-right-radius: 2px; }
      .discover__list-item a i {
        float: left;
        display: inline-block;
        margin-top: 0.125rem;
        font-size: 1.25rem;
        margin-right: 0.625rem; }
    .discover__list-item a.active-list {
      background: #fff;
      color: #fb646f; }
  .discover__form {
    padding: 1.875rem;
    margin-bottom: 1.5rem;
    background: #fff;
    -webkit-border-bottom-left-radius: 2px;
    -moz-border-bottom-left-radius: 2px;
    -o-border-bottom-left-radius: 2px;
    border-bottom-left-radius: 2px;
    -webkit-border-bottom-right-radius: 2px;
    -moz-border-bottom-right-radius: 2px;
    -o-border-bottom-right-radius: 2px;
    border-bottom-right-radius: 2px;
    -webkit-border-top-right-radius: 2px;
    -moz-border-top-right-radius: 2px;
    -o-border-top-right-radius: 2px;
    border-top-right-radius: 2px; }
    .discover__form select {
      height: 3.3125rem; }
  .discover__form-favourite {
    padding: 1.875rem 0;
    background: transparent;
    margin-bottom: 5rem; }
  .discover__form-input {
    border: 1px solid transparent;
    border-bottom: 1px solid #adadad;
    width: 17.5rem;
    margin-right: 0.625rem;
    color: #999999;
    font-size: 0.9375rem;
    font-weight: 200;
    padding: 1rem 1.25rem;
    background: transparent;
    outline: none;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    border-radius: 0px;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    margin-bottom: 0; }
  .discover__form-input-favourite {
    border-bottom: 1px solid #ffffff;
    width: 16rem;
    margin-right: 1.875rem;
    color: #ccc; }
  .discover__form-input:focus {
    background: #fafafa;
    border-top: 1px solid #ebebeb;
    border-left: 1px solid #ebebeb;
    border-right: 1px solid #ebebeb; }
  .discover__form-input-favourite:focus {
    background: transparent;
    border: 1px solid #fb646f; }
  .discover__hashtags {
    color: #fff;
    font-size: 1.0625rem;
    font-weight: 300; }
    .discover__hashtags span {
      color: #cbd9df; }
    .discover__hashtags a {
      color: #fff; }
    .discover__hashtags a:hover {
      text-decoration: underline !important; }
  .discover__input-holders {
    display: inline-block;
    width: 48rem;
    background: #fff;
    padding: 0.625rem 1.5rem;
    -webkit-border-radius: 1.6rem;
    -moz-border-radius: 1.6rem;
    -ms-border-radius: 1.6rem;
    border-radius: 1.6rem; }
  .discover__box {
    max-width: 38.5rem;
    margin: 0 auto;
    overflow: hidden; }
    .discover__box .services-post3 {
      width: 16.66666%;
      float: left; }
  .discover__box-place {
    margin-left: -12.5rem;
    margin-right: -12.5rem;
    text-align: left; }
    .discover__box-place .item {
      padding: 3rem 0.9175rem 0; }
  @media (max-width: 1580px) {
    .discover__box-place {
      margin-left: -6.25rem;
      margin-right: -6.25rem; } }
  @media (max-width: 1400px) {
    .discover__box-place {
      margin-left: -0.9375rem;
      margin-right: -0.9375rem; } }
  @media (max-width: 1199px) {
    .discover__form-input {
      width: 13.75rem; }
    .discover__input-holders {
      width: 44rem; } }
  @media (max-width: 991px) {
    .discover__description {
      font-size: 1.15rem; }
    .discover__title {
      font-size: 3.8rem;
      line-height: 4.4rem;
      margin-left: -3px; }
    .discover__form-input {
      width: 18.913rem;
      margin-bottom: 1rem; }
    .discover__input-holders {
      width: 40rem;
      margin-bottom: 1rem; } }
  @media (max-width: 767px) {
    .discover__description {
      font-size: 1rem; }
    .discover__title {
      font-size: 3rem;
      line-height: 3.8rem;
      margin-left: -2px; }
    .discover__list-item a {
      font-size: 1rem; }
      .discover__list-item a i {
        font-size: 0.9375rem; }
    .discover__form-input {
      width: 100%;
      margin-right: 0; }
    .discover__hashtags {
      font-size: 1rem; }
    .discover__input-holders {
      width: 100%;
      -webkit-border-radius: 0.25rem;
      -moz-border-radius: 0.25rem;
      -ms-border-radius: 0.25rem;
      border-radius: 0.25rem; }
    .discover__box .services-post3 {
      width: 33.3333%; } }
  @media (max-width: 576px) {
    .discover__description {
      font-size: 1rem; }
    .discover__title {
      font-size: 2.5rem;
      line-height: 2.5rem;
      margin-left: 0px; }
    .discover__list-item a {
      font-size: 0.9375rem; }
      .discover__list-item a i {
        font-size: 0.9375rem; }
    .discover__hashtags {
      font-size: 0.9375rem; }
    .discover__box-place {
      margin-left: 0;
      margin-right: 0; } }

.discover-events {
  /*
   * Set a counter and get the length of the image path.
   */
  /*
   * Loop ver the image path and figure out the
   * position of the dot where the extension begins.
   */
  /*
   * If we were able to figure out where the extension is,
   * slice the path into a base and an extension. Use that to
   * calculate urls for different density environments. Set
   * values for different environments.
   */
  /*
     * Set a base background for 1x environments.
     */
  background: #111 url("../upload/slide2.jpg") center center no-repeat;
  background-size: cover;
  /*
     * Create an @2x-ish media query.
     */
  /*
     * Create media queries for all environments that the user has
     * provided images for.
     */
  /*
   * If anything went wrong trying to separate the file from its
   * extension, set a background value without doing anything to it.
   */ }
  @media all and (-webkit-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3 / 2), all and (min--moz-device-pixel-ratio: 1.5), all and (min-device-pixel-ratio: 1.5) {
    .discover-events {
      background: #111 url("../upload/slide2@2x.jpg") center center no-repeat;
      background-size: cover; } }
  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .discover-events {
      background: #111 url("../upload/slide2@2x.jpg") center center no-repeat;
      background-size: cover; } }

.discover-elegant {
  /*
   * Set a counter and get the length of the image path.
   */
  /*
   * Loop ver the image path and figure out the
   * position of the dot where the extension begins.
   */
  /*
   * If we were able to figure out where the extension is,
   * slice the path into a base and an extension. Use that to
   * calculate urls for different density environments. Set
   * values for different environments.
   */
  /*
     * Set a base background for 1x environments.
     */
  background: #111 url("../upload/slide3.jpg") center center no-repeat;
  background-size: cover;
  /*
     * Create an @2x-ish media query.
     */
  /*
     * Create media queries for all environments that the user has
     * provided images for.
     */
  /*
   * If anything went wrong trying to separate the file from its
   * extension, set a background value without doing anything to it.
   */
  text-align: center; }
  @media all and (-webkit-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3 / 2), all and (min--moz-device-pixel-ratio: 1.5), all and (min-device-pixel-ratio: 1.5) {
    .discover-elegant {
      background: #111 url("../upload/slide3@2x.jpg") center center no-repeat;
      background-size: cover; } }
  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .discover-elegant {
      background: #111 url("../upload/slide3@2x.jpg") center center no-repeat;
      background-size: cover; } }
  .discover-elegant__title {
    margin-bottom: 4rem; }
  .discover-elegant__form {
    padding: 0;
    margin-bottom: 4rem;
    background: transparent;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    border-radius: 0px; }
  .discover-elegant__form-input {
    border: none !important;
    background: transparent !important;
    padding: 0.175rem 1rem;
    text-align: left;
    width: 26.451rem; }
  .discover-elegant__form-input#location {
    border-left: 1px solid #ebebeb !important;
    width: 17rem; }
  .discover-elegant__form-submit {
    color: #fff;
    margin-left: 1.875rem; }
  @media (max-width: 1199px) {
    .discover-elegant__form-input {
      width: 22.451rem; } }
  @media (max-width: 991px) {
    .discover-elegant__form-input {
      width: 20.451rem;
      margin-bottom: 0; }
    .discover-elegant__form-input#location {
      width: 15rem; } }
  @media (max-width: 767px) {
    .discover-elegant__form-input {
      width: 100%;
      margin-bottom: 0.4rem; }
    .discover-elegant__form-input#location {
      width: 100%;
      margin-bottom: 0;
      padding-top: 0.5rem;
      border-left: 1px solid transparent !important;
      border-top: 1px solid #ebebeb !important; } }

.discover-favourite {
  padding: 12.5rem 0 8rem;
  text-align: center;
  /*
   * Set a counter and get the length of the image path.
   */
  /*
   * Loop ver the image path and figure out the
   * position of the dot where the extension begins.
   */
  /*
   * If we were able to figure out where the extension is,
   * slice the path into a base and an extension. Use that to
   * calculate urls for different density environments. Set
   * values for different environments.
   */
  /*
     * Set a base background for 1x environments.
     */
  background: #111 url("../upload/slide4.jpg") center center no-repeat;
  background-size: cover;
  /*
     * Create an @2x-ish media query.
     */
  /*
     * Create media queries for all environments that the user has
     * provided images for.
     */
  /*
   * If anything went wrong trying to separate the file from its
   * extension, set a background value without doing anything to it.
   */ }
  @media all and (-webkit-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3 / 2), all and (min--moz-device-pixel-ratio: 1.5), all and (min-device-pixel-ratio: 1.5) {
    .discover-favourite {
      background: #111 url("../upload/slide4@2x.jpg") center center no-repeat;
      background-size: cover; } }
  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .discover-favourite {
      background: #111 url("../upload/slide4@2x.jpg") center center no-repeat;
      background-size: cover; } }
  .discover-favourite .select2-container--default {
    margin-right: 1.875rem; }
  .discover-favourite ::-webkit-input-placeholder {
    color: #dddddd; }
  .discover-favourite ::-moz-placeholder {
    color: #dddddd; }
  .discover-favourite :-ms-input-placeholder {
    color: #dddddd; }
  .discover-favourite :-moz-placeholder {
    color: #dddddd; }
  .discover-favourite .select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #dddddd; }

.discover-best {
  padding: 12rem 0 8rem;
  text-align: center;
  /*
   * Set a counter and get the length of the image path.
   */
  /*
   * Loop ver the image path and figure out the
   * position of the dot where the extension begins.
   */
  /*
   * If we were able to figure out where the extension is,
   * slice the path into a base and an extension. Use that to
   * calculate urls for different density environments. Set
   * values for different environments.
   */
  /*
     * Set a base background for 1x environments.
     */
  background: #111 url("../upload/slide5.jpg") center center no-repeat;
  background-size: cover;
  /*
     * Create an @2x-ish media query.
     */
  /*
     * Create media queries for all environments that the user has
     * provided images for.
     */
  /*
   * If anything went wrong trying to separate the file from its
   * extension, set a background value without doing anything to it.
   */ }
  @media all and (-webkit-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3 / 2), all and (min--moz-device-pixel-ratio: 1.5), all and (min-device-pixel-ratio: 1.5) {
    .discover-best {
      background: #111 url("../upload/slide5@2x.jpg") center center no-repeat;
      background-size: cover; } }
  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .discover-best {
      background: #111 url("../upload/slide5@2x.jpg") center center no-repeat;
      background-size: cover; } }
  .discover-best .owl-theme .owl-controls {
    position: absolute;
    width: 100%;
    top: initial;
    margin-top: 0;
    bottom: -4rem; }
    .discover-best .owl-theme .owl-controls .owl-pagination {
      display: block;
      width: 100%;
      text-align: center;
      margin: 0; }
    .discover-best .owl-theme .owl-controls .owl-page span {
      width: 0.625rem;
      height: 0.625rem;
      border: 1px solid #d8d8d8;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      border-radius: 50%; }
    .discover-best .owl-theme .owl-controls .owl-page.active span {
      border-color: transparent;
      background: #fb646f; }
    .discover-best .owl-theme .owl-controls .owl-buttons {
      display: none; }

@media (max-width: 767px) {
  .discover {
    padding: 9rem 0 6.5rem; }
  .select2-container--default {
    margin-bottom: 1.875rem; }
  .select2-container--default {
    margin-right: 0 !important; } }

.select2-container--default {
  margin-right: 0.625rem; }

.select2-container--default .select2-selection--single {
  border: none;
  border-bottom: 1px solid #adadad;
  background: transparent;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  border-radius: 0px;
  height: auto;
  outline: none;
  text-align: left; }

.discover-favourite .select2-container--default .select2-selection--single {
  border-bottom: 1px solid #ffffff; }

.select2-container--default .select2-selection--single .select2-selection__rendered {
  padding: 0.75rem 1.25rem;
  color: #999999;
  font-size: 0.9375rem;
  font-weight: 200; }

.select2-container--default .select2-selection--single .select2-selection__arrow {
  top: 0.9375rem;
  right: 0.9375rem; }

.select2-container--open .select2-dropdown--below,
.select2-container--open .select2-dropdown--above {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  border-radius: 0px;
  border: 1px solid #adadad !important;
  margin: 1px 0 !important;
  background: #fff; }

.select2-search--dropdown {
  padding: 0; }

.select2-search--dropdown .select2-search__field {
  border: 1px solid transparent !important;
  border-bottom: 1px solid #adadad !important;
  color: #999999;
  font-size: 0.9375rem;
  font-weight: 200;
  padding: 0.75rem 0.9375rem;
  background: transparent;
  outline: none;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  border-radius: 0px;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  margin-bottom: 0; }

.select2-results__option {
  padding: 0.4rem 0.9375rem;
  color: #363636;
  font-size: 0.9375rem;
  font-weight: 300; }

.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: #fb646f; }

.discover-elegant__form .select2-container--default {
  margin-bottom: 0; }

.discover-elegant__form .select2-container--default .select2-selection--single {
  border-bottom: none;
  border-left: 1px solid #e8e8e8; }

.discover-elegant__form .select2-container--default .select2-selection--single .select2-selection__rendered {
  padding: 0.1rem 1rem; }

.discover-elegant__form .select2-container--default .select2-selection--single .select2-selection__arrow {
  top: 0.2rem; }

@media (max-width: 767px) {
  .discover-elegant__form .select2-container--default .select2-selection--single {
    width: 100%;
    margin-bottom: 0;
    border-left: 1px solid transparent !important;
    border-top: 1px solid #ebebeb !important; } }

/*------------------------------------------------- */
/* =  Place gal module
/*------------------------------------------------- */
.place-gal {
  overflow: hidden;
  position: relative;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
}
.place-gal__image {
  width: 100%;
  height: auto;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}
.place-gal:hover .place-gal__image {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
}
.place-gal__content {
  position: absolute;
  bottom: 3rem;
  left: 0;
  width: 100%;
  padding: 0 1.875rem;
}
.place-gal__title {
  font-size: 1.5rem;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
}
.place-gal__title a {
  color: #fff;
}
.place-gal__title a img {
  display: inline-block;
  float: left;
  margin-right: 0.5rem;
  width: 1.25rem;
  height: 1.25rem;
  margin-top: 0.125rem;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
.place-gal__title a:hover {
  color: #fb646f;
}
.place-gal__list {
  margin-bottom: 1rem;
}
.place-gal__list-item {
  display: inline-block;
  margin-right: 0.25rem;
}
.place-gal__list-item a {
  color: #fff;
  font-size: 1.0625rem;
  font-weight: 300;
}
.place-gal__list-item a:hover {
  text-decoration: underline !important;
}
.place-gal__list-item:before {
  content: "";
  float: left;
  display: inline-block;
  width: 0.25rem;
  height: 0.25rem;
  background: #fff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  margin-right: 0.35rem;
  margin-top: 0.65rem;
}

/*------------------------------------------------- */
/* =  how work post module
/*------------------------------------------------- */
.how-work-post {
  text-align: center;
  margin-bottom: 1.875rem;
  padding-top: 1rem;
}
.how-work-post__icon {
  color: #fb646f;
  font-size: 3.5rem;
  display: inline-block;
  margin-bottom: 1rem;
}
.how-work-post__title {
  margin-bottom: 1rem;
}
.how-work-post__title-white {
  color: #ffffff;
}
.how-work-post__description {
  max-width: 22rem;
  margin: 0 auto;
}
.how-work-post__description-white {
  color: #ffffff;
}

.how-work-post2 {
  display: flex;
  margin-bottom: 1.875rem;
}
.how-work-post2__icon {
  color: #fb646f;
  font-size: 3.5rem;
  display: block;
  margin-top: -0.5rem;
}
.how-work-post2__title {
  margin-bottom: 1rem;
}
.how-work-post2__title-white {
  color: #ffffff;
}
.how-work-post2__description {
  max-width: 22rem;
  margin: 0 auto;
}
.how-work-post2__description-white {
  color: #ffffff;
}
.how-work-post2__content {
  padding-left: 2rem !important;
}

/*------------------------------------------------- */
/* =  team post module
/*------------------------------------------------- */
.team-post {
  margin-bottom: 2rem;
}
.team-post__gal {
  position: relative;
}
.team-post__gal img {
  width: 100%;
  height: auto;
}
.team-post__gal-hover {
  position: absolute;
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: rgba(255, 255, 255, 0.4);
  opacity: 0;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}
.team-post__social li {
  display: inline-block;
  margin: 0 0.125rem 0;
}
.team-post__social li a {
  display: inline-block;
  color: #fff;
  width: 2rem;
  height: 2rem;
  font-size: 0.75rem;
  line-height: 1.75rem;
  border: 2px solid transparent;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}

.team-post__social li a.linkedin {
  background: #3399cc;
}
.team-post__social li a:hover {
  background: transparent !important;
  border-color: #fff;
}
.team-post__content {
  padding-top: 1.25rem;
}
.team-post__name {
  margin-bottom: 0;
}
.team-post__role {
  display: inline-block;
  color: #666666;
  font-size: 0.9375rem;
  font-weight: 300;
  margin: 0 0 0.5rem;
}
.team-post:hover .team-post__gal-hover {
  opacity: 1;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}

/*------------------------------------------------- */
/* =  explore module
/*------------------------------------------------- */
.explore__box {
  padding: 1.25rem 0 4.375rem;
  position: relative;
}
.explore__box .item {
  width: 50%;
  padding: 0 0.9375rem;
  margin-bottom: 2rem;
}
.explore__wrap.iso-call {
  margin: 0 -0.9375rem;
}
.explore__filter-title {
  margin-bottom: 1.25rem;
  line-height: 2.5rem;
}
.explore__filter-title span {
  color: #666;
}
.explore__filter-title a {
  float: right;
  width: 2.5rem;
  height: 2.5rem;
  border: 1px solid transparent;
  line-height: 2.5rem;
  color: #ccc;
  font-size: 1.0625rem;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px;
  text-align: center;
  margin-left: 0.25rem;
}
.explore__box:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 1px;
  right: -30px;
  background: #f5f5f5;
}
.explore__box-side:after {
  display: none;
}
.explore__filter {
  padding-top: 1.25rem;
  padding-left: 1.25rem;
}
.explore__filter-side {
  padding-left: 0;
}
.explore__form {
  margin: 0;
  padding: 0;
}
.explore__form-title {
  line-height: 2.375rem;
  margin-bottom: 1.25rem;
}
.explore__form-input {
  display: block;
  width: 100%;
  padding: 0.625rem 1.25rem;
  color: #ccc;
  font-size: 0.9375rem;
  font-weight: 300;
  background: #fff;
  outline: 0;
  border: 1px solid #ddd;
  margin: 0 0 1.25rem;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.02);
  -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.02);
  -moz-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.02);
  -o-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.02);
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}
.explore__form-input:hover {
  border-color: #fb646f;
}
.explore__side-content {
  width: 40%;
  padding: 5.5rem 3.125rem;
}
.explore__map-side {
  width: 60%;
  position: fixed;
  top: 60px;
  bottom: 0;
  right: 0;
}
.explore__map-side #map {
  width: 100%;
  height: 100%;
}
@media (max-width: 1580px) {
  .explore__map-side,
  .explore__side-content {
    width: 50%;
  }
}
@media (max-width: 1400px) {
  .explore__side-content {
    width: 60%;
  }
  .explore__map-side {
    width: 40%;
  }
}
@media (max-width: 1199px) {
  .explore__side-content {
    width: 70%;
  }
  .explore__map-side {
    width: 30%;
  }
}
@media (max-width: 991px) {
  .explore__side-content {
    width: 100%;
  }
  .explore__map-side {
    width: 100%;
    position: relative;
    height: 300px;
  }
  .explore__box:after {
    display: none;
  }
  .explore__filter {
    padding-left: 0;
  }
}
@media (max-width: 767px) {
  .explore__side-content {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .explore__box .item {
    width: 100%;
  }
}
@media (max-width: 576px) {
  .explore__side-content {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .explore__box-side .item {
    width: 100% !important;
  }
}

/*------------------------------------------------- */
/* =  listing detail module
/*------------------------------------------------- */
.listing-detail {
  padding-top: 3.75rem;
}
.listing-detail__gal {
  position: relative;
}
.listing-detail__gal img {
  width: 100% !important;
  height: auto;
}
.listing-detail__gal-box {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding-bottom: 2rem;
}
.listing-detail__buttons {
  text-align: right;
  padding-top: 2.75rem;
}
.listing-detail__buttons a {
  margin-left: 0.25rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-bottom: 0.125rem;
}
.listing-detail__buttons a i {
  margin-right: 0.25rem;
}
.listing-detail__buttons a.btn-default-red {
  border-color: #d7d7d7;
}
.listing-detail__buttons a.btn-default-red:hover {
  border-color: #fb646f;
  box-shadow: 0 7px 12px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 7px 12px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 7px 12px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0 7px 12px rgba(0, 0, 0, 0.1);
}
.listing-detail__title {
  color: #fff;
  margin-bottom: 0.25rem;
}
.listing-detail__title-black {
  color: #363636;
  overflow: hidden;
}
.listing-detail__title-black > span {
  display: inline-block;
  margin-top: 0.5rem;
  margin-right: 0.5rem;
  float: left;
}
.listing-detail__address {
  color: #bbbbbb;
}
.listing-detail__address i {
  margin-right: 0.5rem;
}
.listing-detail__title-box {
  padding: 1.5rem 0 1rem;
  border-bottom: 1px solid #ebebeb;
  margin-bottom: -1px;
}
.listing-detail__buttons-icons {
  padding-top: 2rem;
}
.listing-detail__buttons-icons a {
  padding: 0.175rem 0.5rem;
  background: #f7f7f7;
  color: #fb646f;
  font-size: 1.125rem !important;
  border-color: transparent;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
.listing-detail__buttons-icons a i {
  margin-right: 0;
}
.listing-detail__buttons-icons a:hover {
  color: #fff;
  background: #fb646f;
}
.listing-detail__dollar-rate {
  display: inline-block;
  margin: 0 0.5rem;
}
.listing-detail__dollar-rate i {
  margin: 0;
}
.listing-detail__dollar-rate i.red-col {
  color: #fb646f;
}
.listing-detail__scroll-menu {
  border-bottom: 1px solid #ebebeb;
}
.listing-detail__scroll-menu li {
  display: inline-block;
}
.listing-detail__scroll-menu li a {
  color: #999999;
  font-size: 1.0625rem;
  font-weight: 300;
  padding: 1.25rem 1rem;
  border-bottom: 1px solid transparent;
  margin-bottom: -1px;
}
.listing-detail__scroll-menu li a.active,
.listing-detail__scroll-menu li a:hover {
  color: #363636;
  border-bottom: 1px solid #fb646f;
}
.listing-detail__menu-top-border {
  border-bottom: none;
  position: relative;
  z-index: 2;
}
.listing-detail__menu-top-border li a {
  border-bottom: none;
  border-top: 1px solid transparent;
  margin-bottom: 0;
}
.listing-detail__menu-top-border li a.active,
.listing-detail__menu-top-border li a:hover {
  border-top: 1px solid #fb646f;
  border-bottom: none;
}
.listing-detail__content-box {
  padding: 2rem 0;
  padding-right: 1.875rem;
  border-right: 1px solid #f5f5f5;
  margin-right: -1.875rem;
}
.listing-detail__content-box-nopadding {
  padding-top: 0;
}
.listing-detail__content-description {
  color: #666666;
}
.listing-detail__content-description.with-border-top {
  padding-top: 1rem;
  border-top: 1px solid #eeeeee;
}
.listing-detail__overview {
  margin-bottom: 2rem;
}
.listing-detail__gallery {
  margin-bottom: 2rem;
}
.listing-detail__gallery-inner {
  padding-top: 0.5rem;
  margin: 0 -0.3125rem;
}
.listing-detail__gallery-inner .item {
  margin: 0.3125rem;
}
.listing-detail__gallery-inner .item img {
  width: 100%;
  height: auto;
}
.listing-detail__gallery-inner .owl-theme .owl-controls .owl-buttons {
  padding: 0 0.625rem;
}
.listing-detail__gallery-inner .owl-theme .owl-controls .owl-buttons div {
  background: transparent;
  border: transparent;
  color: #ffffff;
}
.listing-detail__gallery-inner .owl-theme .owl-controls .owl-buttons div:hover {
  color: #fb646f;
}
.listing-detail__gallery-inner
  .owl-theme
  .owl-controls
  .owl-buttons
  div.owl-prev::after {
  content: "\f111";
  font-family: "LineAwesome";
  font-size: 1.25rem;
}
.listing-detail__gallery-inner
  .owl-theme
  .owl-controls
  .owl-buttons
  div.owl-next::after {
  content: "\f112";
  font-family: "LineAwesome";
  font-size: 1.25rem;
}
.listing-detail__content-title a {
  float: right;
  color: #fb646f;
  font-size: 0.9375rem;
  font-weight: 300;
}
.listing-detail__content-title a i {
  margin-right: 0.25rem;
}
.listing-detail__content-title a:hover {
  text-decoration: underline !important;
}
.listing-detail #mapSingle {
  height: 200px;
  width: 100%;
  margin-bottom: 1.5rem;
}
.listing-detail__galleria {
  overflow: hidden;
  margin-bottom: 2rem;
  position: relative;
}
.listing-detail__galleria .item-image {
  width: 69%;
  float: left;
  padding-left: 1px;
  padding-bottom: 1px;
}
.listing-detail__galleria .item-image img {
  width: 100%;
  height: auto;
}
.listing-detail__galleria .item-image.small-size {
  width: 31%;
}
.listing-detail__galleria .item-image:first-child {
  padding-left: 0;
}
.listing-detail__galleria > a {
  position: absolute;
  bottom: 1.25rem;
  left: 1.25rem;
  color: #fff;
  font-size: 0.9375rem;
  font-weight: 300;
}
.listing-detail__galleria > a i {
  font-size: 1.125rem;
  margin-right: 0.5rem;
}
.listing-detail__galleria > a:hover {
  color: #fb646f;
}
.listing-detail__photos {
  padding-bottom: 2.5rem;
}
.listing-detail__photos a.load-others {
  padding-top: 1rem;
  color: #fb646f;
  font-size: 0.9375rem;
  font-weight: 300;
}
.listing-detail__photos a.load-others i {
  font-size: 1.125rem;
  margin-right: 0.5rem;
}
.listing-detail__photos a.load-others:hover {
  text-decoration: underline !important;
}
.listing-detail__photos-inner {
  margin-left: -5px;
  margin-right: -5px;
}
.listing-detail__photos-inner .item {
  width: 33.33333%;
  padding: 5px;
}
.listing-detail__photos-inner .item img {
  width: 100%;
  height: auto;
}
.listing-detail__fullwidth-gal {
  overflow: hidden;
  display: flex;
}
.listing-detail__fullwidth-gal li {
  list-style: none;
}
.listing-detail__fullwidth-gal li img {
  width: 100%;
  height: auto;
}
@media (max-width: 991px) {
  .listing-detail__content-box {
    padding-right: 0;
    border-right: none;
    margin-right: 0;
  }
}
@media (max-width: 767px) {
  .listing-detail__buttons {
    text-align: left;
    padding-top: 1rem;
  }
}

/*------------------------------------------------- */
/* =  sidebar module
/*------------------------------------------------- */
.sidebar {
  padding: 2rem 0;
  padding-left: 1.25rem;
  border-left: 1px solid #f5f5f5;
  margin-left: -1px;
}
.sidebar__widget {
  margin-bottom: 1.25rem;
}
.sidebar__widget-title {
  font-size: 0.9375rem;
  margin-bottom: 1.25rem;
  padding-bottom: 0.875rem;
  border-bottom: 1px solid #eeeeee;
}
.sidebar__category-list li:last-child {
  margin-bottom: 0;
}
.sidebar__listing-list li {
  display: block;
  color: #666;
  font-size: 0.9375rem;
  font-weight: 300;
  line-height: 1.75rem;
}
.sidebar__listing-list li i {
  display: inline-block;
  font-size: 1rem;
  color: #ccc;
  margin-right: 0.25rem;
}
.sidebar__listing-list li span.color-close {
  color: #fb646f;
}
.sidebar__listing-list li div {
  margin-left: 1.5rem;
}
.sidebar__listing-list li div p {
  margin-bottom: 0;
  color: #666;
}
.sidebar__listing-list li div p span.right-align {
  float: right;
}
.sidebar__map-widget .sidebar__widget-title {
  margin-bottom: 0;
  padding-bottom: 0.615rem;
  border-bottom: none;
}
.sidebar__map-widget #mapSingle {
  height: 325px;
}
@media (max-width: 1199px) {
  .sidebar__instagram-list li {
    margin-right: 0.625rem !important;
  }
}

@media (max-width: 991px) {
  .sidebar {
    padding: 0 0 2rem;
    border-left: none;
    margin-left: 0px;
  }
}

/*------------------------------------------------- */
/* =  Footer */
/*------------------------------------------------- */
.footer__up-part {
  padding: 3rem 0 1rem;
}

.footer__widget {
  margin-bottom: 2rem;
}
.footer__widget img {
  margin-bottom: 0.75rem;
}

.footer__widget-title {
  margin-bottom: 0.5rem;
  padding-top: 0.5rem;
}

.footer__widget-title-white {
  color: #fff;
}

.footer__subscribe-form {
  margin: 0;
  position: relative;
}

.footer__subscribe-input {
  width: 100%;
  margin: 0;
  outline: none;
  border: none;
  padding: 0.75rem 1.25rem;
  background: transparent;
  border-bottom: 1px solid #adadad;
}

.footer__subscribe-button {
  float: right;
  border: none;
  background: none;
  outline: none;
  margin-top: -2.5rem;
  position: relative;
  z-index: 2;
  color: #999999;
  font-size: 1.25rem;
  margin-right: 1rem;
  cursor: pointer;
}

.footer__subscribe-button-primary {
  color: #fb646f;
}

.footer__subscribe-button:hover {
  color: #fb646f;
}

.footer__down-part {
  padding: 1.25rem 0;
  border-top: 1px solid #edeef0;
}

.footer__down-part-black {
  border-top: 1px solid #666666;
}

.footer__copyright {
  margin-bottom: 0;
}

.footer__social-list {
  text-align: right;
}
.footer__social-list li {
  display: inline-block;
  margin-left: 1rem;
}
.footer__social-list li a {
  color: #666666;
  font-size: 1rem;
}
.footer__social-list li a:hover {
  color: #fb646f;
}

@media (max-width: 767px) {
  .footer__social-list {
    margin-top: 10px;
    text-align: left;
  }
  .footer__social-list li {
    margin-left: 0;
    margin-right: 1rem;
  }
}

.footer-black {
  background: #333333;
}